<!DOCTYPE html>
 <html>
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>SpaceX - Facts</title>
   <link type="text/css" href="../style/facts.css" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
   <link rel="icon" href="../images/shuttle.png">
   <script type="text/javascript" src="../script/facts.js" defer></script>

  </head>

  <body>
	<div class="container">

   	 <div class="header">
  		<figure>
    	  <a href="../index.html"><img id="logo" src="../images/logo.png" alt="space x logo"></a>
   		 </figure>

   		 <nav class="navbar">
   		 	<div class="hamburger-menu">
   		 		<div class="line line-1"></div>
   		 		<div class="line line-2"></div>
   		 		<div class="line line-3"></div>
   		 	</div>

   		    <ul class="nav-list">
   		     <li class="nav-item"><a href="../index.html" class="nav-link">Dashboard</a></li>
   		     <li class="nav-item"><a href="../view/stats.html" class="nav-link">Statistics </a></li>
   		     <li class="nav-item"><a href="../view/facts.html" class="nav-link">Facts</a></li>
   		     <li class="nav-item"><a href="../view/goinghome.html" class="nav-link">Going Home</a></li>   
   		    </ul>

   		 </nav>
 		
    </div>

    <div class="content">

      <div class="factbox1">
        <img id="fact" src="../images/Atmosphere-Mars-Facts.gif" alt="Atmosphere">
      </div>

      <div class="factbox2">
        <img id="fact" src="../images/Distance-Mars-Facts.gif" alt="Distance">
      </div>

      <div class="factbox3">
        <img id="fact" src="../images/Gravity-Mars-Facts.gif" alt="Gravity">
      </div>

      <div class="factbox4">
        <img id="fact" src="../images/Mars-Year-in-Earth-Days.gif" alt="Years">
      </div>

      <div class="factbox5">
        <img id="fact" src="../images/Mass-Mars-Facts.gif" alt="Mass">
      </div>

      <div class="factbox6">
        <img id="fact" src="../images/Structure-Mars-Facts.gif" alt="Structure">
      </div>

      <div class="factbox7">
        <img id="fact" src="../images/Moons-Mars-Facts.jpg" alt="Moons">
      </div>



    </div>

  </div>

   
</body>
</html>